body{
  font-family: sans-serif;
  text-align:center;
  background:#fff8e1;
  margin:0;
  padding:0;
}

header{
  background:#ff6f00;
  color:white;
  padding:15px;
}

canvas{
  max-width:95%;
  border:1px solid #000;
  margin:10px auto;
}

.tools button{
  padding:10px 15px;
  margin:5px;
  font-size:16px;
}

footer{
  background:#333;
  color:white;
  padding:10px;
}

footer a{
  color:#ffd54f;
  text-decoration:none;
  margin:0 5px;
}