body {
  text-align: center;
  font-family: sans-serif;
  background: #fdf4e7;
}

.editor img {
  max-width: 90%;
  border-radius: 12px;
}

.controls {
  display: grid;
  gap: 5px;
  padding: 10px;
}

.text {
  position: absolute;
  top: 20%;
  left: 20%;
  color: red;
  font-size: 30px;
}

.ad-box {
  background: #eee;
  padding: 15px;
  margin: 10px;
}
